/*comment*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;900');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/minireset.css/0.0.2/minireset.min.css');

*,
*::before,
*::after{
    box-sizing: border-box;
}
html {
    font-size: var(--root-font-size);
}
body{
    color:var(--black);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: var(--root-font-size);
    line-height: 1.5;
    margin: 0;
    overflow-x: hidden;
    background-color: rgb(236, 236, 236);
}
body header {
    background-color: white;
}

/*navigation*/
nav {    
    padding: 0.5rem 2rem;
    line-height: 1rem;
    margin-bottom: 0.2rem;
    position: relative;
    background-color:white;
}
nav {    
    padding: 0.5rem 2rem;
    line-height: 1rem;
    margin-bottom: 0.2rem;
    position: relative;
    background-color:white;
}
@media (min-width:560px) {
    .nav-info {
        background-color:white;
        list-style: none;
        display: flex;
        line-height: inherit;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin: 0 auto;
    }
    .nav-info a {
        letter-spacing: 0.01rem;
        font-weight: regular;
        display: inline-block;
        width: 100%;
    }
    .nav-info-lang {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-info-lang li {
        margin: 0 0.5rem;
    }
    .nav-info-cont {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-info-cont li{
        margin-right: 1rem;
        display: inline-flex;
    }
    .nav-info-soc {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-info-soc li {
        margin-left: 1rem;
        display: inline-flex;
    }
    .nav-info-s {
        right: 2rem;
        align-items: center;
        justify-content: flex-end;
    }
    .nav-info-s li {
        margin-left: 1rem;
    }
}
.nav-info {
    background-color:white;
    list-style: none;
    display: flex;
    line-height: inherit;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
}
.nav-info a {
    letter-spacing: 0.01rem;
    font-weight: regular;
    display: inline-block;
    width: 100%;
}
.nav-info-lang {
    list-style: none;
    align-items: center;
    justify-content: space-between;
    margin-right: 1rem;
}
.nav-info-cont {
    list-style: none;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.nav-info-cont a {
    color: black;
}
.nav-info-soc {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-info-soc a {
    color: black;
}
.nav-info-soc li {
    margin-left: 1rem;
    display: inline-flex;
}
.nav-info-s {
    right: 2rem;
    align-items: center;
    justify-content: flex-end;
}
.nav-info-s a {
    color: black;
}
.nav-info-s li {
    margin-left: 1rem;
}
.social-fb:hover {
    color:#3b5998;
}
.social-insta:hover {
    color:#ff0084;
}
.social-youtube:hover {
    color:#c4302b;
}
/*navbar*/
@media (min-width: 1160px){
    .navbar {
        /*padding: 0 0 7rem 0;
        list-style: none;*/
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 1.1rem;
        /*margin-top: 0.5rem;*/
        position: relative;
    }
    .navbar-nav {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1rem 1.5rem 1rem;
        background-color: rgb(236, 236, 236);
        position: absolute;
        right: 0;
    }
    .navbar-nav a {
        color: black;
        font-size: 1.2rem;
        display: inline-block;
        letter-spacing: 0.1rem;
        font-weight: semibold;
        width: 100%;
        text-align: center;
    }
    .navbar-nav li {
        display: inline-flex;
    }
    .navbar label {
        display: none;
    }
    }
.navbar {
        /*padding: 0 0 7rem 0;
        list-style: none;*/
        display: flex;
        align-items: center;
        line-height: 1.1rem;
        justify-content: space-between;
        /*margin-top: 0.5rem;*/
        position: relative;
    }
.navbar-home {
    display: inline-block;
    margin-right: 1rem;
    white-space: nowrap;
    background-color: white;
    width: auto;
    height: 50px;
    align-items: center;
    /* max-height: 2rem; */
}
.navbar-nav {
    display: none;
    background-color: rgb(236, 236, 236);
}
#hamburger {
    display: none;
    background-color: rgb(236, 236, 236);
}
#hamburger:checked~.navbar-nav {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: rgb(236, 236, 236);
    height: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    z-index: 10;
    transition: 0.3s;
}

/*layouts*/
.container {
    background-color: rgb(236, 236, 236);
    width: 100%;
    margin: 0 auto;
    padding: 0;
} 
@media (min-width: 570px){
    .container {
        max-width: 560px;
    }
}
@media (min-width: 770px){
    .container {
        max-width: 760px;
    }
}
@media (min-width: 990px){
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px){
    .container {
        max-width: 1160px;
    }
}
.position-relative {
    position: relative;
}
.d-block {
    display: block;
}

/* footer */
.footer {
    padding: 1em 0;
    background-color: white; 
}
.container-footer {
    background-color: darkgray;
    width: 100%;
    color:white;
    padding: 1em 0;
}
.container-footer h3 {
    font-weight: bold;
}
.footer-link a {
    color: white;
}
.footer-link a:hover {
    color:rgb(32, 86, 204);
}
.footer-list-center {
    text-align: center;
}
.footer-right {
    text-align: right;
    padding-right: 1em;
}
.footer-right a {
    color: white;
}

/*slider*/
.mainslider {
    /*background-image: url("../images/Slider/IXB9A2626.CR2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;*/
    min-height: 10em;
    background-color: rgb(236, 236, 236);
}
/*.mainslider header {
    padding-top: 20em;
    padding-left: 2em;
    padding-bottom: 10em;
}*/
.align-items-center {
    align-items: center !important;
}
.d-flex {
    display: flex !important;
}
.slider{
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}
.slides .slide{
    width: 20%;
    float: left;
    position: relative;
}
.slides .items {
    width: 500%;
    line-height: 0;
    margin: 0;
    position: relative;
}
.slides .items:hover {
    animation-play-state: paused;
}
.slide img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    height: 35em;
}
.slide {
    width: 100%;
}
.overflow {
    overflow: hidden;
    width: 100%;
}
.pb-1 {
    padding-bottom: 1rem;
}
@keyframes slider {
    0% {left: 0%;}
    10% {left: 0%;}
    15% {left: -100%;}
    20% {left: -100%;}
    25% {left: -200%;}
    30% {left: -200%;}
    35% {left: -300%;}
    40% {left: -300%;}
    45% {left: -400%;}
    50% {left: -400%;}
    55% {left: -400%;}
    60% {left: -300%;}
    65% {left: -300%;}
    70% {left: -200%;}
    75% {left: -200%;}
    80% {left: -100%;}
    85% {left: -100%;}
    90% {left: 0%;}
    100% {left: 0%;}
}
.slider .items {
    animation: 40s slider infinite;
}

/*text*/
a {
    /*color: black;*/
    text-decoration: none;
}
a:hover {
    color:rgb(255, 125, 0);
    text-decoration: none;
}
.main-text {
    color: black;
    padding: 2em 30%;
    background-color: transparent;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: semibold;
}
.main-text h2 {
    font-weight: bold;
}
.text-center {
    text-align: center;
}
.text-slide {
    position: absolute;
    top: 10rem;
    left: 0rem;
}
.text-black {
    color: black;
}

/*button*/
.btn-lang {
    color: rgb(255, 125, 0);
}
.btn-nav {
    background-color: transparent;
    padding: 1em 1em;
    border: transparent solid 2px;
}
.btn-nav:hover {
    background-color: transparent;
    padding: 1em 1em;
    border: white solid 2px;
}
.btn-nav-img {
    background-color: transparent;
    padding: 3em 5em;
    border: transparent solid 2px;
}
.btn-nav-img:hover {
    background-color: transparent;
    padding: 3em 5em;
    border: rgb(255, 125, 0) solid 2px;
}
.btn-slider {
    color: rgb(32, 86, 204);
    background-color: white;
    padding: 1em 1.5em;
    border: rgb(32, 86, 204) solid 3px;
    border-radius: 12px;
}
.btn-slider:hover {
    color: orange;
    background-color: rgb(71, 71, 71);
    text-decoration: none;
    padding: 1em 1.5em;
    border:orange solid 2px;
    border-radius: 12px;
}
.btn-service {
    color: rgb(32, 86, 204);
    background-color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-align: center;
    border:white solid 2px;
    box-shadow: 0 0 5px #999;
}
.btn-service:hover {
    color: rgb(255, 125, 0);
    background-color:white;
    text-decoration: none;
    padding: 1em 1.5em;
    text-align: center;
    border:rgb(255, 125, 0) solid 2px;
    box-shadow: 0 0 5px #999;
}
.btn-info {
    color: rgb(32, 86, 204);
    background-color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-align: center;
    border:white solid 2px;
    box-shadow: 0 0 5px #999;
    width: 80%;
    }
.btn-info:hover {
    color: rgb(255, 125, 0);
    background-color:white;
    text-decoration: none;
    text-align: center;
    border:rgb(255, 125, 0) solid 2px;
    box-shadow: 0 0 5px #999;
}
.btn-sm {
    padding: 1rem 1.5rem;
    font-size: 1rem;
}
.button-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.contact label{
    display: block;
}
.contact button,
.contact input,
.contact textarea {
    width: 100%;
    padding: 1em;
    border: solid 1px #6272dc;
    display: block;
}
.contact button {
    background-color: #6272dc;
    border: 0;
    color: #e4e4e4;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0.5rem 1rem;
    width: 60%;
}
.full {
    grid-column: 1/3;
}

.product-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 8rem 0;
    align-items: flex-end;
    opacity: 0;
}
.product:hover .product-overlay {
    opacity: 1;
}
.product img {
    filter: drop-shadow(40%);
}
.product:hover img {
    opacity: 0.5;;
}
.product-overlay ul li:first-of-type {
    transform: translateX(1.5rem);
}
.product-overlay ul {
    transform: translateX(-1.5rem);
}

/*image*/
img{
    display: block;
}
.nav-img{
    width: auto;
    padding: 0;
    /*position: absolute;
    left: 2rem;*/
    height: 50px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.w-100 {
    width: 100%;
}
.mb-3 {
    margin-bottom: 2em;
}

/*order*/
.row {
    width: 100%;
    display: flex;
    /* flex-direction: row;
    flex-wrap: nowrap; */
    flex-flow: row wrap;
    }
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,

.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,

.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12 
{
    width: 100%;
    position: relative;
    padding: 0 15px;
}
.col-1 {
    max-width: calc(100%/12);
    flex: 0 0 calc(100%/12);
}
.col-2 {
    max-width: calc(2*100%/12);
    flex: 0 0 calc(2*100%/12);
}
.col-3 {
    max-width: calc(3*100%/12);
    flex: 0 0 calc(3*100%/12);
}
.col-4 {
    max-width: calc(4*100%/12);
    flex: 0 0 calc(4*100%/12);
}
.col-5 {
    max-width: calc(5*100%/12);
    flex: 0 0 calc(5*100%/12);
}
.col-6 {
    max-width: calc(6*100%/12);
    flex: 0 0 50%;
}
.col-7 {
    max-width: calc(7*100%/12);
    flex: 0 0 calc(7*100%/12);
}
.col-8 {
    max-width: calc(8*100%/12);
    flex: 0 0 calc(8*100%/12);
}
.col-9 {
    max-width: calc(9*100%/12);
    flex: 0 0 calc(9*100%/12);
}
.col-10 {
    max-width: calc(10*100%/12);
    flex: 0 0 calc(10*100%/12);
}
.col-11 {
    max-width: calc(11*100%/12);
    flex: 0 0 calc(11*100%/12);
}
.col-12 {
    max-width: 100%;
    flex: 0 0 100%;
}
.col-auto {
    flex: 0 0 auto;
}
@media (min-width: 570px){
    .col-sm-12 {
        max-width: 100%;
        flex: 0 0 100%;
    }
}
@media (min-width: 770px){
    .col-md-1 {
        max-width: calc(100%/12);
        flex: 0 0 calc(100%/12);
    }
    .col-md-2 {
        max-width: calc(2*100%/12);
        flex: 0 0 calc(2*100%/12);
    }
    .col-md-4 {
        max-width: calc(4*100%/12);
        flex: 0 0 calc(4*100%/12);
    }
    .col-md-6 {
        max-width: calc(6*100%/12);
        flex: 0 0 calc(6*100%/12);
    }
    .col-md-11 {
        max-width: calc(11*100%/12);
        flex: 0 0 calc(11*100%/12);
    }
}
@media (min-width: 990px){
    .col-lg-2 {
        max-width: calc(2*100%/12);
        flex: 0 0 calc(2*100%/12);
    }
    .col-lg-4 {
        max-width: calc(4*100%/12);
        flex: 0 0 calc(4*100%/12);
    }
    .col-lg-10 {
        max-width: calc(2*100%/12);
        flex: 0 0 calc(2*100%/12);
    }
}
@media (min-width: 1200px){
    .col-xl-2 {
        max-width: calc(2*100%/12);
        flex: 0 0 calc(2*100%/12);
    }
    .col-xl-4 {
        max-width: calc(4*100%/12);
        flex: 0 0 calc(4*100%/12);
    }
    .col-xl-10 {
        max-width: calc(10*100%/12);
        flex: 0 0 calc(10*100%/12);
    }
}
.float-left{
    float: left;
}
.float-right {
    float: right;
}
.clearfix::after{
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
.list-inline {
    list-style: none;
}
.list-inline-item {
    display: inline-block;
}

.brackets a::before,
.brackets a::after {
    display: inline-block;
}
.brackets a::before {
    content: '[';
}
.brackets a::after {
    content: ']';
}

/*modal*/
.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    transition: all 2s ease-out;
    transition-delay: 0.2s;
    display: block;
    z-index: 100;
    pointer-events: none;
}
.modal:target {
    display: block;
    background: rgba(4, 10, 40, 0.5);
    transition: all 0.5s ease-out;
    pointer-events: auto;
}
.dialog {
    position: relative;
    width: 60%;
    max-width: 600px;
    height: auto;
    background: white;
    box-shadow: 0 0 5px #999;
    margin: 10% auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    grid-gap: 0.8em;
    top: -1000px;
}
.modal:target .dialog {
    top: -20px;
    transition: all 0.8s ease-out;
    transition-delay: 0.2s;
}
.col-left,
.col-right {
    padding: 20px;
    display: flex;
}
.col-left {
    background: purple;
    clip-path: polygon(0 0, 0% 100%, 100% 0%);
}
.col-right {
    padding: 60px 30px;
    margin-left: -10%;
}
.login-text {
    position: relative;
    width: 100%;
    color: white;
}
.login-text h2 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0 0 1rem 0;
}
.login-text p {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0 0 1.4rem 0;
    line-height: 1.8rem;
}
.login-text .btn {
    display: inline-block;
    padding: 7px 20px;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 30px;
    color: white;
    outline: none;
    border: 1px solid white;
    box-shadow: inset 0 0 0 0 white;
    transition: 0.3s;
}
.login-text .btn:hover {
    box-shadow: inset 150px 0 0 0 white;
    color: grey;
}
.login-form {
    position: relative;
    width: 100%;
}
.login-form h2 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0 0 1rem 0;
}
.login-form p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0 0 0.8rem 0;
    color: #333;
}
.login-form p:last-child {
    padding-top: 3px;
    margin: 0;
}
.login-form p a{
    font-size: 1rem;
    text-decoration: none;
    color: grey;
}
.login-form label{
    display: block;
    width: 100%;
    margin-bottom: 2px;
    letter-spacing: 0.5px;
}
.login-form p:last-child label {
    width: 60%;
    float: left;
}
.login-form label span {
    color: red;
    padding-left: 2px;
}
.login-form input {
    display: block;
    width: 100%;
    height: 35px;
    padding: 0 10px;
    outline: none;
    border: 1px solid grey;
    border-radius: 30px;
}
.login-form input:focus {
    border-color: purple;
}
.login-form input[type=submit] {
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    color: grey;
    font-size: 1.1rem;
    letter-spacing: 1px;
    cursor: pointer;
    background: transparent;
    border: 1px solid grey;
    border-radius: 30px;
    box-shadow: inset 0 0 0 0 purple;
    transition: 0.3s;
}
.login-form input[type=submit]:hover {
    color: white;
    box-shadow: inset 250px 0 0 0 purple;
}
.close {
    background: white;
    color: black;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 0 0 10px black;
    transition: all 0.5s ease-out;
    transition-delay: 0.2s;
}
.close:hover {
    transition: all 0.5s ease-in;
    background: purple;
}

/* Service Request */
.aside {
    position: fixed;
    top: 70px;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 10; /*поверх усіх блоків*/
    transform: translateX(200%); /*фікасація поза основним інтерфейсом*/
    transition: var(--transition);
}
.service-request {
    width: 70%;
    margin: 0 auto;
}
.show-aside {
    transform: translate(0);
}